@import '@fortawesome/fontawesome-free/css/all.css';


@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --font-primary: 'Roboto', sans-serif;
}

body {
    font-family: var(--font-primary);
    font-weight: 500;
    line-height: 1.6;
}